$DEFINE(LISTING(title,file),{*<div class="listingTitle">${title}</div>$LATEINCLUDE(${file})*})

<p>We will need to employ the mentioned non&ndash;determinism. In Verics's Java flavour
of input files, a non&ndash;deterministic choice of one of <i>N</i> outcomes is modelled by the
method <code>Random.nextInt(N)</code>. Definitely, it is not due to the Java language's
specs, which says, that the method draws a value using an uniform distribution.
Yet, there is not an exact equivalent of what we need, and <code>Random.nextInt(N)</code>
is a good default approximation, if the model is to be run on a JVM. For custom
JDK&ndash;side implementations of strategies there is special a set of classes
in Verics's library.<p>
The discussed model is a <emph>turn game</emph> &ndash; only a single player can perform a move at a time.
We could directly use a synchronisation method for that &ndash; a conditional barrier &ndash;
but it is easier just to use a dedicated game package from Verics's library,
which conveniently wraps that barrier.
</p><p>
The beginning of our model specification, that provides all of the
necessary imports, is as follows:
</p><p>
LISTING(Imports.,Microgrid_1_imports.java)
</p><p>
Let us follow the rules of modular programming and divide the model into
<i>N</i> + 2 entities &ndash; the microgrid itself, a scheduler, and <i>N</i> households.
And so, we begin with the microgrid:
</p><p>
<code>Class <code>Microgrid</code>.</code><code>Microgrid_2_Microgrid.java</code>
</p><p>
This is the only public class in the source file, and thus the class gives its name
to the file.
Also, the <code>Microgrid</code> class contains the start method or, in Java terms, the main method, and thus
that class will give its name also to the output file.
</p><p>
The microgrid has a number of basic traits, that must be defined, like the
number of households, or the demand curve. Let us define these:
</p><p>
<code>Fields of <code>Microgrid</code>, part 1.</code><code>Microgrid_3_Microgrid_fields.java</code>
</p><p>
Also, a few variables are needed to store the state of the grid.
</p><p>
<code>Fields of <code>Microgrid</code>, part 2.</code><code>Microgrid_3.5_Microgrid_storage.java</code>
</p><p>
The microgrid must know, who its users are (line 4). It also remembers the current
time (line 8), and can store the total number of loads being executed (line 12).
</p><p>
There are <emph>ranges</emph> on the last two fields &ndash; they guard a self&ndash;consistency
of the model, as Verics is able to produce descriptions containing rigorous checks of the
ranges. This helps in testing the specification for invalid assumptions and implementation bugs.
The ranges also help in making the model definition more self&ndash;explaining, and may
also help #Prism! in faster performing of computations.
</p><p>
The compiler
can analyse expressions with ranged operands, in order to estimate the range
of the expression's result. Thus, sometimes even a few scattered ranges may
help Verics iteratively determine the missing ranges. If not found, a default
range is assumed, which, for the type <code>int</code>, is &#x2329;-2<sup>15</sup> + 1, 2<sup>15</sup> - 2&#x232a;.
</p><p>
Operations within a model specification can be executed by either a single
<emph>main thread</emph>, or in <emph>automaton threads</emph>. The main one is interpreted within
Verics, before any output is generated by the compiler. That thread initialises variables
and creates instances of objects, including thread objects. Any such thread object,
created by the main thread and started, is an automaton thread. In Verics's output
file, an automaton thread translates to a single automaton. The main thread is
not translated into any automaton, and only effects of its actions are seen, in e.g.
initial values of state variables, in the generated model properties, and, of course,
in the very presence of the automatons, as it was the main thread, that initialised
and started them.
</p><p>
Like in a regular Java application, the two types of threads may share code, by e.g.
calling the same methods. Yet, there are operations that only one of the thread types
supports. The divide is mostly intuitive &ndash; for example, the main thread is not able
to synchronise with other threads, as when it is alive, it is all alone, the automaton
threads exists as definitions only. An automaton thread, in turn, can not in general
create objects, to fit into some rigid automaton formalism enforced by model checkers.
</p><p>
Note that the main thread is executed by Verics's internal interpreter, and so it is
not very fast. It is typically speedy enough to create complex topologies of automatons,
but might be way too slow for performing intensive computations.
</p><p>
After the main thread ends (or in certain models almost ends, we will return to that later),
Verics begins to analyse the state of the translated
application, including searching for all running automaton threads, which, even that started,
did not perform a single operation yet. They will do so, in a sense, only in simulators or in
analytic engines of model checkers.
</p><p>
Let us see, what the main thread does, in order to create the microgrid. The
main thread always starts with the main method:
</p><p>
<code>Main method of <code>Microgrid</code>.</code><code>Microgrid_4_main.java</code>
</p><p>
In line 4, a helper object from a game package from Verics's library is created. Thanks to
using that package, 
some boilerplate code will be avoided in the model. In the next line, one of the
methods of the <code>Model</code> class is called. The class gives some control over the output
file generated by Verics. In this particular case, it is specified that any
field variables belonging to <code>table</code> should not be decorated with any prefixes
or suffixes in the output files, raw names only. The method <code>Model.name(Object, String prefix, String suffix)</code>,
and the convenience methods <code>Model.name(Object, String suffix)</code>,
<code>Model.name(Object)</code> make names of state variables in the
output file shorter and predictable by adding a prefix and a suffix to the field name.
If such a custom naming scheme is used, though, then the user must arrange the naming so that there
are no resulting name conflicts. <code>Object</code> in the methods discussed can also be an array reference,
in such a case concatenated prefix and suffix alone refer to the referenced array (not to the
field).
</p><p>
Local variables, as opposed to non-static fields, do not fall
into the naming scheme, and thus have the default, conflict&ndash;free yet verbose and
unpredictable names.
This is usually not a problem as locals are assumed to be generally not used within the properties checked anyway,
also because of the way an optimiser may treat a local (e.g. replace it with a constant, specific for
some method call). Designate a field if you want to test its values. 
</p><p>
The loop in lines 8&ndash;14 creates households. The class <code>Household</code> is a thread,
and thus its creation and starting causes an automaton to be generated. In the loop,
there is a yet not discussed method <code>Model.player()</code>, that makes
an automaton thread a named participant in the game.
</p><p>
There is a number of households, so we append numbers to their field names &ndash; otherwise
Verics would complain about duplicates. There is only a single scheduler, so raw field
names are enough in its case.
</p><p>
In line 21, a field, and in effect a state variable, <code>time</code>, is initialised. In Java,
integer fields are initialised with 0 anyway, so the instruction is not needed in fact,
but serves as an example of a fragment of the definition of an initial state. 
</p><p>
The next operation uses the helper <code>table</code> object to start the game. There are
<i>N</i> + 1 players declared &ndash; Verics will check, if it is a correct value.
The value is in fact the number of objects, that use a conditional barrier,
which synchronises players &ndash; but in the case of a <code>TurnGame</code> the value is
the same as the number of players.
</p><p>
The statement is the first one executed by the main thread,
that would actually made the automaton threads active (in the sense of `not only waiting on a barrier')
if on a JVM. This is why the initial state could still be specified (line 21)
despite that the automaton threads had already been started using <code>Thread.start()</code>. Because
of the discussed assumption within #hc!, that automaton threads never become active before the
main thread ceases to be active, a situation where both types of threads
<emph>concurrently</emph> interact (by e.g.
modifying a variable by a thread of one type and reading that variable by a thread
of another type) might result in a disrepancy between the behaviour of the
model expected by #hc!, and an actual behaviour of the model on a JVM.
</p><p>
The next thing to do in the main
thread is to specify the properties to check. These will be put into a respective
file, unless Verics works in the range&ndash;checking mode, in which special
range&ndash;checking properties are generated instead. As can be seen, Verics's
interpreter may be a help in generating long sequences of PCTL or rPATL properties.
</p><p>
The statement <code>Model.waitFinish()</code> in line 29 waits until some automaton thread
encounters an operation <code>Model.finish()</code>. This may seem contradictory to the
way Verics works &ndash; as has been said, the compiler exits without interpreting any
automaton thread. So, it would need to wait forever in <code>Model.waitFinish()</code>.
Instead, Verics's interpreter treats the statement as a signal to immediately
finish interpreting of the main thread &ndash; any statement in lines 30&ndash;34 is
invisible to Verics. These are only of use if the model is run on a JVM &ndash; you may
thus specify code, that runs once the automaton threads declare, that the simulation
ends &ndash; yet note, that consequently <code>Model.finish()</code> can only be executed
if the automaton threads will no longer modify any variable.
</p><p>
In our case, we use <code>Model.waitFinish()</code> to wait until the final simulation
time is displayed. Then, we would like to terminate all automaton threads, in order
to cleanly end a process. The
scheduler ends by itself, but households wait on the barrier. They can be terminated
at once by taking advantage of that barrier's property, which says, that if any
thread waiting on it is interrupted, then all of these threads enter the
interrupted state, as specified in the Java standard, and then leave the barrier.
The statement at line 35 starts just that process.
A counterpart statement in the definition of a household checks, if
the household's automaton thread is in an interrupted state, and if yes, then
leaves the loop immediately (Listing #ref!code:household-run-method, lines
5&ndash;6).
</p><p>
Because <code>Microgrid</code> declares a number of fields that characterise the microgrid in general,
let us also put some specifically
microgrid&ndash;related functions into the class as well. All of the methods, as opposed
to the main one, will in our case be only called by the automaton threads.
</p><p>
Let these methods be static.
What is static and what is not is often the matter
of programming style, not to be discussed here. Let us just mention, that
these method were made class ones, because they are utility methods belonging
to the main class <code>Microgrid</code>, which does not itself have any instances &ndash;
there is only a single microgrid created. Were there more grids in a single network
of automatons, we would make an instance of appropriately rewritten <code>Microgrid</code> for each,
and <code>getNumJobs()</code> would not be static anymore. Were there separate demand curves
for each microgrid, the array <code>DEMAND</code> would not be static, and in effect,
<code>getDemand()</code> were an object method as well.
</p><p>
Let us now look at the contents of several methods, that report the microgrid's state.
</p><p>
<code>Other methods of <code>Microgrid</code>, part 1.</code><code>Microgrid_5_pta.java</code>
</p><p>
See that the method <code>getDemand()</code> not only uses an array, but also returns a
variable floating&ndash;point value. Both arrays and non&ndash;integer variables
are not supported in some model checkers, e.g. in Prism.
</p><p>
Yet, Verics has a number of translation techniques, like streamlining
the code or emulating arrays, that attempt to remove or replace unsupported elements. The compiler
does not always manage, though, to optimise out all <code>double</code> variables, partly because
there are e.g. strict rules on the order of accessing fields so to not inadvertently
modify a model's behaviour.
</p><p>
The next method, <code>getNumJobs()</code>, returns how many households generate a load at
the current time. There is a range definition on the local <code>numJobs</code> &ndash;
obviously, the number of jobs can never be larger than the number of households.
We could also put the same range on the return value of the method, yet that would not change a
thing &ndash; Verics finds out by itself, that <code>getNumJobs()</code>'s range results
from the one of <code>numJobs</code>. Yet putting the range <emph>only</emph> on the return value would not
be propagated backward to <code>numJobs</code> &ndash; Verics does not know, if <code>numJobs</code>
is allowed to be outside &#x2329;0, <i>N&#x232a;</i>, before flow of control reaches the <code>return</code>
statement.
</p><p>
In the next listing, we have two methods related to the end of a single time interval. The comment of the
first method describes it precisely. The method will be used by the scheduler to decide,
if to end its activity.
</p><p>
<code>Other methods of <code>Microgrid</code>, part 2.</code><code>Microgrid_5.5_pta.java</code>
</p><p>
The second method, <code>endInterval()</code>, does several things needed at the end of each
time interval. Firstly, it puts the number of jobs
i.e. loads of electricity, into a field. It does so only to measure that value
by a model checker &ndash; this is why <code>Model.state()</code> saves a position within an automaton
after the field (a fragment of the state vector) already has the current value, assigning a label to reference that position.
Another purpose of the method <code>endInterval()</code> is to decrease by one the counters,
that represents lengths of time that are left each load.
</p><p>
Let us browse the thread classes of each player, beginning with the scheduler.
</p><p>
<code>Class <code>Scheduler</code>.</code><code>Microgrid_6_Scheduler.java</code>
</p><p>
<code>Scheduler</code> is a subclass of <code>TurnPlayer</code>, which is provided by the game
package, and which itself is a subclass of <code>Thread</code>.
</p><p>
<code>Fields of <code>Scheduler</code>.</code><code>Microgrid_7_Scheduler_fields.java</code>
</p><p>
The scheduler (not to be confused with Verics' schedulers)
is normally probabilistic, but it also has a modifier, that can make it non&ndash;deterministic
instead &ndash; if <code>NON_DETERMINISTIC</code> is true, a strategy is decided by a <code>Random</code> object.
<code>Random</code> is the simplest case of declaring strategy. Special wrappers for writing custom
choice methods, or for declaring a common strategy, exist in Verics's library.
</p><p>
The scheduler has also a constructor, called by the main thread:
</p><p>
<code>Constructor of <code>Scheduler</code>.</code><code>Microgrid_7.5_Scheduler_constructor.java</code>
</p><p>
The statement in line 2 passes to the super-class <code>TurnPlayer</code> a reference to the game in which
a player participates, and also the player's number. The number is required by the logic
rPATL. Here, the scheduler is assigned 0. The households declare in their constructors
subsequent numbers 1, 2, . . .  <i>N</i>.
</p><p>
There is yet another method in <code>Scheduler</code> &ndash; <code>run()</code>, which is a top method
of a thread, and thus also a top `method' of the respective automaton:
</p><p>
<code>Methods of <code>Scheduler</code>.</code><code>Microgrid_8_Scheduler_methods.java</code>
</p><p>
The constant <code>NON_DETERMINISTIC</code> is set within the main thread, so at the time of generating
this automaton, it is exactly known which branch of the choice in lines 6&ndash;13 is unconditionally executed,
and which branch is dead. The compiler takes use of that knowledge and removes completely
the condition at line 6 and one of the branches from the automaton.
</p><p>
There is a probabilistic choice in lines 12&ndash;13. As discussed,
the exact behaviour of that kind of choice, as opposed to the non&ndash;deterministic one,
is known &ndash; in this
case, draw a natural number in the range 0, 1, . . .  <i>N</i> - 1, using an uniform probability
distribution. Thus, if <code>NON_DETERMINISTIC</code> is false, the scheduler, even that it is a player,
has only a single, hard&ndash;wired strategy, defined in the very model.
</p><p>
After a household is selected by the scheduler by setting the local variable <code>address</code>, that
exact household has a next move.
The next player to move is declared by the player that currently moves,
using a super-class' method <code>turnNext(<i>i</i>)</code>, where <i>i</i> is the player's number (line 15). After
the scheduler selects the next player to move, it
waits for its own move using <code>turnWait()</code> (line 16). When a time of its move comes again, the discussed
<code>Microgrid.endInterval()</code> is called.
</p><p>
The scheduler's loop's condition in line 19 calls a method <code>Microgrid.isFinished()</code>, which
returns, if to end the simulation. If yes, then the already mentioned method <code>Model.finish()</code> is
called and the scheduler ends. For a model checker it means, that the scheduler's
automaton will stay in some final state forever. For a JVM it means, that the scheduler's
thread will return from the method <code>run()</code>, and thus will terminate.
</p><p>
The class of a household should now be self&ndash;explaining.
A number of constants, directly related to a household, is declared here, and not in <code>Microgrid</code>:
</p><p>
<code>Fields of <code>Household</code>.</code><code>Microgrid_10_Household_fields.java</code>
</p><p>
In particular, the constant <i>c<sub>#mathrm!lim</sup></i> is represented by <code>PRICE_LIMIT</code>, and
similarly, <i>P<sub>#mathrm!start</sup></i> is implemented as <code>P_OVER_LIMIT</code>.
There is also <code>job</code> variable. If zero, the household does not generate a load. If non&ndash;zero,
then the field expresses the time left of generating the load bought, in intervals.
</p><p>
A household has a constructor, executed by the main thread, like it was in the case of <code>Scheduler</code>:
</p><p>
<code>Constructor of <code>Household</code>.</code><code>Microgrid_11_Household_methods.java</code>
</p><p>
and, as <code>TurnGame</code> is a thread, the <code>run()</code> method:
</p><p>
<code>Run method of <code>Household</code>.</code><code>Microgrid_11.2_Household_methods.java</code>
</p><p>
In lines 5&ndash;6, the already discussed loop exit statements are seen. They have no effect on an automaton generated
by Verics, as neither Verics's interpreter, nor automatons themselves, can cause an interrupt.
The sole reason of these statements is to take part in stopping a Java application on the JVM side.
</p><p>
In line 7, there is another variant of a probabilistic choice &ndash;
<code>Math.random() < Microgrid.getDemand()*EXPECTED_JOBS</code>. This time
a boolean condition is evaluated, by comparing a random value, drawn using an uniform distribution,
to a variable value, that here translates to a probability of this <code>if</code>'s sub-condition becoming true.
</p><p>
There is yet a third, rather self&ndash;explaining method in <code>Household</code>, called by <code>Microgrid.endInterval()</code>
(the call statement is located in Listing #ref!code:microgrid-methods-2, line 19) on each household whenever a
time interval ends.
</p><p>
<code>The other method of <code>Household</code>.</code><code>Microgrid_11.5_Household_methods.java</code>
</p><p>
The source code we studied is enough to generate a model. In fact, it also generates a series of
properties in a probabilistic logic.
But model checkers may have also other features, not explicitly supported by Verics. A <emph>verbatim</emph>
section may help in using these &ndash; its contents is simply appended to the output model file as is,
if the output format allows:
</p><p>
<code>Appending to the output model file.</code><code>Microgrid_12_append.java</code>
</p><p>
Here, reward structures for Prism are seen. The term <code>measure</code> refers to a formula generated by
Verics, thanks to the statement in line 15 of Listing #ref!code:microgrid-methods-2. We will
return to that formula later.
</p><p>
So, let us generate Prism&ndash;compliant files, but before, there is the question which <emph>scheduler</emph>
should be chosen by Verics (that scheduler has nothing to do with the class <code>Scheduler</code>).
</p><p>
Schedulers, as mentioned, define time invariants on states, but in effect also, what kind of order of operation is
possible within a network
of automatons. There is the default scheduler that leaves an automaton as is &ndash; with that scheduler applied,
any state, by default, e.g. without delay operations like <code>Thread.sleep()</code>,
may last any time from 0 to infinite, unless some <emph>fairness</emph> conditions are imposed by a model
checker. This is a good scheduler for finding bugs in a concurrent code &ndash; as opposed to what
a real operating system does, any possible order of execution is taken into account. We could use
such a scheduler for our model, but it is more than we need here &ndash; the model is a turn game, and
so there is no non&ndash;determinism confined within the order of activity of the automatons, that
could be altered if e.g. some states would be merged between synchronisation points.
We can give a hint to Verics
about that, by using a scheduler that makes each non&ndash;synchronising state <emph>implicitly hidden</emph> &ndash;
implicitly, because there is
no extra information put into the output model, like time invariants, and only Verics knows, that
a certain interference is impossible, and that in turn grants more freedom to the compiler's
optimiser, which may be more aggressive in performing a partial order reduction #cite!peled1998por, what in turn may result in smaller,
more compact automatons.
</p><p>
Let us run Verics:
</p><p>
<code>$ hc -sh -i -op -v0 Microgrid.java</code>
</p><p>
In the case of a Prism model, there are two files generated:
<code>Microgrig.nm</code> contains a model of a #Prism!'s type <code>smg</code>, because players were defined,
and <code>Microgrig.pctl</code> contains the properties to check.
</p><p>
The output model file will contain formulas that represent states saved with <code>Model.state()</code>, and also
all final static fields, extracted from the model. These can be, thus, used in properties
or in the appended verbatim section.
</p><p>
<code>Constants in the model file.</code><code>Constants.java</code>
</p><p>
The formula <code>measure</code> is added thanks to the call at line 15 in Listing #ref!code:microgrid-methods-2.
As <code>turnEnd()</code> is called by the scheduler, the formula points to the local variable
of the automaton <code>Scheduler</code>.
</p><p>
Naming conventions are not applied to the constants, even that they are fields, as these fields are
static, an thus are not owned by any object passed to <code>Model.name()</code>. Instead, a field's name
is directly used, and in the case of a name conflict, the name is prefixed with that
of a respective class.
</p><p>
In the case of an output for #Prism!, the compiler generates yet another file, a one with properties,
whose initial fragment is as follows:
</p><p>
<code>Properties &ndash; a fragment.</code><code>Microgrid.pctl</code>
</p><p>
As seen, the expressions make use of player numbers declared in constructors of automaton threads,
of a reward structure appended to the model as seen in Listing #ref!code:append,
and of a state variable <code>time</code>, declared in Listing #ref!code:microgrid-fields.
A property that checks for a total expected value of a household after the simulation
ends might contain <code>time=MAX_TIME</code>.
</p>
