@import url("cmun-serif.css");
@font-face {
    font-family: 'verics-regular';
    src: url('Verics-Regular-24.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latex-regular';
    src: url('LMRoman12-Regular-t.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Rubik');
// eceff3
html{height:100vh; overflow-y: scroll;}
body{text-align:center;margin:0; min-height:100.1vh; background: #efefef;
font-family: 'Computer Modern Serif', 'Lusitana', latex-regular, verics-regular, Verdana, Arial, Helvetica, sans-serif;
text-rendering: optimizeLegibility;
-webkit-font-variant-ligatures: normal;
font-variant-ligatures: normal;
-moz-font-feature-settings: "kern=1";
-webkit-font-feature-settings: "kern";
-moz-font-feature-settings: "kern";
font-feature-settings: "kern";
font-kerning: normal;
font-size: 120%;
}
#wrapper{width:50em; text-align:left; margin:0 auto; position: relative; min-height: 100vh}
#contents{margin-top: 0; padding-left:7em; padding-right: 7em; padding-bottom: 0; float:left; width: 36em; min-height: inherit;
background-image: url("body-background.jpg"); text-align: justify;}
#left{background: url(shadowLeftGray.png) left; background-repeat:repeat-y; position: absolute; top: 0px; left: 0px; bottom: 0px; width: 20px;}
#right{background: url(shadowRightGray.png) right; background-repeat:repeat-y; position: absolute; top: 0px; right: 0px; bottom: 0px; width: 20px;}
a:link{color: #5b5b5b; font-weight: bolder;}
a:visited{color: #5b5b5b; font-weight: bolder;}
a:active{color: #5b5b5b; font-weight: bolder;}
.emph {color:#336688; font-weight:bolder; font-style: italic;}
b {color:#0033ff; font-weight:normal; font-style: normal;}
#contentsText p {margin-top: 0.4em; margin-bottom: 0.4em;}
#contentsText p + p {text-indent: 1.5em; margin-top: 0.4em; margin-bottom: 0.4em;}
pre {
    font-size: 80%;
}
.title {
    font-family: 'Rubik', sans-serif;
    font-size: 4.5ch;
    text-align: center;
    color: #333;
    padding-top: 1.6ch;
    margin-bottom: 0.5ch;
}
.title a {
    font-weight:normal;
    font-style: normal;
    text-decoration: none;
}
ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
ul li {
    padding-left: 2em;
}
ul li:before {
    content: "–"; /* Insert content that looks like bullets */
    padding-right: 0.5em;
}
h1 {
    display: block;
    font-size: 1.2em;
    margin-top: 1.6em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.0em;
    margin-top: 1.4em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.tree {
    padding: 0.2ch;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 85%;
    margin-bottom: 4ch;
}
.treeLevel {
    padding: 0.2ch;
    background-color: #ddd;
    -webkit-display: -webkit-box;
    -webkit-display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.treeItem {
    margin: 0.2ch;
    text-align: center;
}
.treeItemCurrent {
    margin: 0.2ch;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
}
.treeItemPath {
    margin: 0.2ch;
    text-align: center;
    background-color: #bbb;
    font-weight: bolder;
}
.treeSeparator {
    margin: 0.2ch;
    text-align: center;
    font-size: 1.5em;
}
.listingTitle {
    color: #e8e8c8;
    background: gray;
    font-weight: bold;
    overflow:auto;
    width:auto;
    border:solid gray;
    border-width: 0.4ch 0 0 0.4ch;
    padding: 0 0.5ch;
}
